@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

body {
	background-color: #ffffff;
	text-align: center;
}


h1 {
  
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px
}

#slogan {

    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 20px

}



hr
{
    border: 1px solid #000000;
}


.aboutme {

    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal 300;
    font-size: 16px

}
